In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler , LabelEncoder
from sklearn.ensemble import ExtraTreesClassifier
from imblearn.over_sampling import RandomOverSampler

In [24]:
# Proses melakukan import dataset yang diperlukan
test_set = pd.read_csv('dataset/test_feature.csv')
features = pd.read_csv('dataset/train_features.csv')
labels = pd.read_csv('dataset/train_label.csv')

In [25]:
features.head()

                   facilities                        rating      location
0  RestaurantBARSwimmingPools  7.8 Very GoodFrom 10 reviews        Stokol
1        intrnetRestaurantgym        5.6 GoodFrom 4 reviews  Machlessvile
2        restaurantgympoolBar  7.2 Very GoodFrom 38 reviews    Wanderland
3               BARRestaurant   7.3 Very GoodFrom 6 reviews    Uberlandia
4          InternetRestaurant  7.2 Very GoodFrom 30 reviews        Stokol

In [26]:
# Menampilkan jumlah missing value pada features
na_feature = features.isna().sum()
na_feature

facilities    301
rating        637
location        0
dtype: int64

In [27]:
# Proses mengisi missing values string pada features dengan 'NULL'
features = features.fillna('NULL')

In [28]:
features['Restaurant']=''
features['Bar']=''
features["Gym"]=''
features['Internet']=''
features['Swimming Pools']=''

In [32]:
features.head()

,facilities,rating,Restaurant,Bar,Gym,Internet,Swimming Pools,location_Andeman,location_Hallerson,location_Machlessvile,location_Stokol,location_Uberlandia,location_Ubisville,location_Wanderland,location_Willsmian
0,restaurantbarswimmingpools,7.8 Very GoodFrom 10 reviews,1,1,0,0,1,0,0,0,1,0,0,0,0
1,intrnetrestaurantgym,5.6 GoodFrom 4 reviews,1,0,1,0,0,0,0,1,0,0,0,0,0
2,restaurantgympoolbar,7.2 Very GoodFrom 38 reviews,1,1,1,0,0,0,0,0,0,0,0,1,0
3,barrestaurant,7.3 Very GoodFrom 6 reviews,1,1,0,0,0,0,0,0,0,1,0,0,0
4,internetrestaurant,7.2 Very GoodFrom 30 reviews,1,0,0,1,0,0,0,0,1,0,0,0,0

In [30]:
for ind in features.index:
    features['facilities'][ind] = features['facilities'][ind].lower()

    if 'restaurant' in features['facilities'][ind] :
        features['Restaurant'][ind] = 1
    else :
        features['Restaurant'][ind] = 0

    if 'bar' in features['facilities'][ind] :
        features['Bar'][ind] = 1
    else :
        features['Bar'][ind] = 0

    if 'swimmingpools' in features['facilities'][ind] :
        features['Swimming Pools'][ind] = 1
    else :
        features['Swimming Pools'][ind] = 0    

    if 'gym' in features['facilities'][ind] :
        features['Gym'][ind] = 1
    else :
        features['Gym'][ind] = 0   

    if 'internet' or 'intrnet' in features['facilities'][ind]  :
        features['Internet'][ind] = 1
    else :
        features['Internet'][ind] = 0

In [31]:
features = pd.get_dummies(features, columns = ['location'], dtype= int)